{%extends 'base.html'%}
{%block content%}

<main>
    <div class="container">
        <form action="/" class="pb-3" method="post">
            <select name="xxx" class="btn1 btn">
                <option value="0">Все</option>
                {% for key, val in option.items() %}
                <option value="{{ key }}">{{ val }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn1 btn" value="Показать">
        </form>
        {% for one_date in dates %}
        <table class="table table-bordered">
            {% for floor in one_date %}
            <tr>
                {%for window in floor%}
                {%if (window[1] == 1)%}
                <td class="lights">{{ window[0] }}</td>
                {%else%}
                <td class="nolights">{{ window[0] }}</td>
                {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        {%endfor%}
    </div>
</main>

{%endblock%}